<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img [src]='"/assets/img/logo.JPG"' alt=""> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ml-5">
        <li class="nav-item active mr-2">
          <a class="nav-link" href="#">Repositorios<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="#">Proyectos</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="#">Seguidores</a>
        </li>
        <li class="nav-item mr-2">
            <a class="nav-link" href="#">Siguiendo</a>
          </li>
      </ul>
      <ul class="my-2 my-lg-0">
          <li class="dropdown-item nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="avatar" [src]="'/assets/img/avatar.png'" alt="">
              <span class="ml-3 mr-3">Ana Martínez</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://github.com/AnnMtz" target="_blank">Perfil</a>
            <a class="dropdown-item" href="https://github.com/AnnMtz?tab=repositories" target="_blank">Repositorios</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Cerrar Sesión</a>
          </div>
          </li>
      </ul>
    </div>
  </nav>
</div>
